# FastAPI backend
fastapi
uvicorn
pydantic
python-multipart
requests

# Computer Vision ve ML
opencv-python
torch
torchvision
numpy
matplotlib
Pillow
scikit-learn
ultralytics

# Eğer TensorFlow kullanıyorsan (eklemeyi unutma)
tensorflow

# Eğer yol algılamada YOLO, keras veya model yükleme varsa
keras
onnxruntime

# Ortam değişkenleri için
python-dotenv